{% extends "base.html" %}

{% block content %}


  
<div class="banner"></div>
    
<hr>

<div class="tarif">
  <div class="container">
    <h2>Tarifs </h2>
    <div class="row">
      <div class="col-12 col-md-3">
         <div class="card">
          <div class="card-header">1er cours</div>
          <div class="card-body">Gratuit! </div>
          <div class="card-footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sit ad ipsa possimus necessitatibus, ut fugiat ratione magnam consequatur voluptatem harum consequuntur inventore iusto ullam quo provident aspernatur, earum illum?</div>
           <a id="button" type="button" class="btn btn-outline-danger" href="https://www.youtube.com/watch?v=-kESoB4vQEM&t=5s" target="_">Réserver</a>
        </div>
        </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <div class="card-header">Cours à L'unité</div>
          <div class="card-body">18 €</div>
          <div class="card-footer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, perspiciatis? Deserunt reprehenderit vel libero facilis consectetur tempore ipsum molestias, unde velit deleniti fugit dolores minima ipsa nihil a alias dolorum.</div>
          <a id="button" type="button" class="btn btn-outline-danger" href="https://www.youtube.com/watch?v=-kESoB4vQEM&t=5s" target="_">Réserver</a>
        </div>
        
      </div>
      <div class="col-12 col-md-3">
         <div class="card">
          <div class="card-header ">Par mois</div>
          <div class="card-body">123 €</div>
          <div class="card-footer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt laboriosam ratione blanditiis tempore, dignissimos debitis similique totam. Magnam facilis modi at veritatis, ex sapiente laudantium perspiciatis cum repudiandae minima iure?</div>
           <a id="button" type="button" class="btn btn-outline-danger" href="https://www.youtube.com/watch?v=-kESoB4vQEM&t=5s" target="_">Réserver</a>
        </div>
        </div>
        <div class="col-12 col-md-3">
         <div class="card">
          <div class="card-header">Par année</div>
          <div class="card-body">1664 €</div>
          <div class="card-footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi amet autem ea illo magnam eveniet minima voluptas quae, libero, odit exercitationem doloribus ratione culpa ab rem et deleniti doloremque ipsum.<br><br></div>
           <a id="button" type="button" class="btn btn-outline-danger" href="https://www.youtube.com/watch?v=-kESoB4vQEM&t=5s" target="_">Réserver</a>
        </div>
        </div>      
      </div>
    </div>
  </div>

<div class="gratuit">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">Mercredi Enfants</div>
          <div class="card-body">Gratuit</div>
          <div class="card-footer">Tous les mercredis après-midi, de 12h à 18h, les enfants de 6 à 12 ans peuvent venir apprendre à danser librement avec nos équipes hyper accueillantes <br><br></div>
           <a id="button" type="button" class="btn btn-outline-danger" href="/contact">Contactez-nous pour plus de renseignments</a>
        </div>
      </div>
           <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">Dimanche Seniors</div>
          <div class="card-body">Gratuit</div>
          <div class="card-footer">Tous les Dimanches après-midi, de 12h à 18h, les seniors sont invités à passer du bon temps avec notre équipe en mode "thé dansant" dans la bonne humeur et la joie!<br><br></div>
           <a id="button" type="button" class="btn btn-outline-danger" href="/contact">Contactez-nous pour plus de renseignments</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}